[MULTICRAB]
cfg = crab_DATA.cfg

[COMMON]
USER.ui_working_dir=data-53xv2_GammaPlusJet
USER.storage_element=srm-eoscms.cern.ch
### this directory is the mountpoin of SE 
USER.storage_path=/srm/v2/server?SFN=/eos/cms
### directory or tree of directory under the mounpoint 
USER.user_remote_dir=/store/group/phys_higgs/meridian/data/53xv2
GRID.se_black_list = T2_RU,T3*,Taiwan

#    _____  _           _                ___   ___  __ ___  
#   |  __ \| |         | |              |__ \ / _ \/_ |__ \ 
#   | |__) | |__   ___ | |_ ___  _ __      ) | | | || |  ) |
#   |  ___/| '_ \ / _ \| __/ _ \| '_ \    / /| | | || | / / 
#   | |    | | | | (_) | || (_) | | | |  / /_| |_| || |/ /_ 
#   |_|    |_| |_|\___/ \__\___/|_| |_| |____|\___/ |_|____|

[Photon_Run2012A-13Jul2012-v1]
CMSSW.datasetpath=/Photon/Run2012A-13Jul2012-v1/AOD

[SinglePhoton_Run2012B-13Jul2012-v1]
CMSSW.datasetpath=/SinglePhoton/Run2012B-13Jul2012-v1/AOD

[SinglePhoton_Run2012C-EcalRecover_11Dec2012-v1]
CMSSW.datasetpath=/SinglePhoton/Run2012C-EcalRecover_11Dec2012-v1/AOD

[SinglePhoton_Run2012C-24Aug2012-v1]
CMSSW.datasetpath=/SinglePhoton/Run2012C-24Aug2012-v1/AOD

[SinglePhoton_Run2012C-PromptReco-v2]
CMSSW.datasetpath=/SinglePhoton/Run2012C-PromptReco-v2/AOD

[SinglePhoton_Run2012D-PromptReco-v1]
CMSSW.datasetpath=/SinglePhoton/Run2012D-PromptReco-v1/AOD
